html, body { margin: 0; height: 100%;}
        .ex_hide_fast{cursor:pointer}
        .ex_show_3000{margin-right:20px;cursor:pointer}
        .ex_box_3f{clear:both; width:100%; height:100%; background-color:black; text-align: center;}
        .ex_box_3f img{margin-top:40px; width:40%;}